@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>Конфіденційність користувачів нашого веб-сайту має велике значення для нас, і ми докладаємо всіх зусиль для забезпечення її захисту.</p>
