@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-5">

                    <h2 class="text-center mb-5">Реєстрація</h2>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-4">
                            <label asp-for="Email">Email:</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="Password">Пароль:</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="ConfirmPassword">Підтвердіть пароль:</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary" type="submit">Зареєструватися</button>
                        </div>

                        <hr class="my-4">
                        <div>
                            <p class="mb-0">Уже маєте акаунта? <a class="text-dark" asp-area="" asp-controller="Account" asp-action="Login" style="color:darkgrey"> Увійти</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>